body {
  background: #eee;
  font-family: 'Open Sans', sans-serif;
}

#app {
  width: 75%;
  margin: 0 auto;
  background: #fff;
  padding: 20px 40px 40px 40px;
}

section#bookings {
  margin-top: 40px;
}
#bookings-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.booking-info {
  box-sizing: border-box;
  width: 32%;
  background: lightblue;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.checked-in {
  color: darkgreen;
}

.checked-out {
  color: darkred;
}

button{
  background: white;
  border-radius: 0;
  border: none;
  font-size: 12px;
  color: #333;
  padding: 5px 10px;
  display: block;
  margin-top: 20px;
  cursor: pointer;
}

h3 {
  margin-top: 0;
}

form {
  font-size: 16px;
  display: flex;
  flex-flow: column wrap;
}

form > div.group {
  display: flex;
}

input[type="text"],
input[type="email"] {
  padding: 7px;
  margin: 0 10px;
}

input[type="submit"] {
  background: lightblue;
  border-radius: 0;
  border: none;
  font-size: 16px;
  color: #333;
  padding: 5px 10px;
  display: block;
  margin-top: 20px;
  cursor: pointer;
  max-width: fit-content;
}