<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Rock Paper Scissors</h1>

    <form action="/player1" method="post">
        <label for="player1_choice"><b>Player 1</label></b> choose Rock Paper Scissors from dropdown menu</label>
        
        <select id="rockpaperscissors" name="rockpaperscissors">
            <option value="Rock">Rock</option>
            <option value="Paper">Paper</option>
            <option value="Scissors">Scissors</option>
        </select>
    <br>

    <form action="/player2" method="post">
        <label for="player2_choice"><b>Player 2</b> choose Rock Paper Scissors from dropdown menu</label>
        <select id="rockpaperscissors" name="rockpaperscissors">
            <option value="Rock">Rock</option>
            <option value="Paper">Paper</option>
            <option value="Scissors">Scissors</option>
        </select>
</body>
</html>