{% extends 'base.html' %}

{% block main_content %}
    <h3>Date</h3>
    <p>{{ event.date }}</p>
    <h3>Name</h3>
    <p>{{ event.name }}</p>
    <h3>No of Guests</h3>
    <p>{{ event.no_of_guests }}</p>
    <h3>Location</h3>
    <p>{{ event.location }}</p>
    <h3>Description</h3>
    <p>{{ event.description }}</p>
    <h3>Recurring</h3>
    <p>
        {% if event.recurring %}
            <span> &#9989; </span>
        {% else %}

            <span> &#10060; </span>
  
        {% endif %}
    </p>
    
{% endblock %}