body {
    background-color: rgb(233, 157, 14);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    text-align: center;
    font-size: 45px;
}

ul {
    font-size: 40px;
    text-align: center;
    list-style-type: none;
}

.content {
    display:flex;
    flex-direction: column;
    align-items: center;
}