body {
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
}

header{
  height: 4rem;
  background-color:  #4584b1;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 2rem;
}

#logo{
  margin-left: 40px;
}

nav{
  background-color: #103594;
  height: 3rem;
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
}

nav li {
  margin-right: 15px;
  color: #fff;
  font-size: 1.3rem;
  list-style: none;
}

nav li a {
  color: #fff;
  text-decoration: none;
}

nav li a:hover {
  text-decoration: underline;
}

.where-togo {
  background: #040E27;
  padding: 20px 10px;
}

.where-togo h3 {
  font-size: 2rem;
  color: #fff;
}

.search-form {
  display: flex;
}

.input-field {
  width: 220px;
  margin: 10px;
}

input {
  width: 100%;
  height: 50px;
  font-size: 1rem;
  padding-left: 15px;
  border-radius: 5px;
}

.nice-select {
  width: 100%;
  height: 54px;
  font-size: 1rem;
  color: #AAB1B7;
  font-weight: 300;
  border: 1px solid #363E52;
  border-radius: 5px;
}

.search-btn {
  background: #FF4A52;
  color: #fff;
  padding: 5px 20px;
  font-size: 16px;
  height: 50px;
  width: 100px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.section-title {
  display: flex;
  justify-content: center;
}

.single-destination {
  margin: 5px;
  border-radius: 5px;
  overflow: hidden;
}

.container {
  display: grid;
  justify-content: center;
}

.row {
  grid-template-columns: 30% 30% 30%;
}

.testimonial-area {
  background: #363E52;
  padding: 50px;
}

.single-testmonial{
  background-color: aliceblue;
  padding: 10px;
  margin: 20px;
  height: 300px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  color: #FFF;
  background: #040E27;
  position: relative;
  padding: 20px;
}

.footer-widget p {
  color: #AAB1B7;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #AAB1B7;
}

.footer-widget a:hover {
  color: #FF4A52;
}

.footer-widget ul li {
  font-size: 14px;
  line-height: 36px;
}

.footer-widget a {
  color: #AAB1B7;
}

/* Media Queries */

@media (max-width: 720px) {
  .row {
    grid-auto-flow: row;
    grid-template-columns: 50%;
  }
}