{% extends 'base.html' %}

{% block main_content %}
    <h2>Use form below to add new book</h2>

    <form action="/books" method="post">
        <label for="book_title">Title</label>
        <input type="text" name="book_title" id="book_title">
        <label for="book_author">Author</label>
        <input type="text" name="book_author" id="book_author">
        <label for="book_genre">Genre</label>
        <input type="text" name="book_genre" id="book_genre">
        <label for="book_checked_out">Checked Out?</label>
        <input type="checkbox" name="book_checked_out" id="book_checked_out">



        <input type="submit" value="Save Event">
    </form>



{% endblock %}