#characterDetail {
    box-sizing: border-box;
    height: 100%;
    width: 80%;
    background: #eee;
    color: #222;
    padding: 10px;
    border: 1px solid #ccc;
    display: flex;
  }
  #detailWrapper {
    box-sizing: border-box;
    background: #fff;
    padding: 10px;
    height: 100%;
    border-radius: 3px;
  }
  #flexWrapper {
    display: flex;
    justify-content: space-between;
  }
  #left, #right {
    width: 45%;
  }
  #right img {
    width: 100%;
  }
  #left p:first-child {
    margin-top: 0;
  }
  h2 {
    margin: 10px 0 20px;
    padding: 0;
  }
  p span {
    font-weight: bold;
  }
  #episode-list-wrapper{
    width: 50%;
    display: flex;
    justify-content: center;
  }
  #character-image {
    height: 300px;
  }