@font-face {
    font-family: RickMortyFont;
    src: url('../fonts/get_schwifty.ttf');
}

#title {
    font-family: RickMortyFont;
    font-size: 100px;
    color: rgb(0, 188, 0);
    text-align: center;
}

#character-selector {
    text-align: center;
}

#character-details-main {
    text-align: center;
}