body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(to right,brown,rgba(255, 200, 0, 0.78));
    
}

.homepage-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 80px;
    height:400px;
    color:black;
    opacity:0.8;
    
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
    background-image: linear-gradient(to right,rgb(165, 42, 42),rgba(255, 200, 0, 0.78));
    border-style: groove;
    border-width: 8px;
    margin-bottom: 30px;
   
}

.visited  {
    display:flex;
    gap:30px;
    list-style-type: none;
    margin-right: 30px;
    
}

.visited > li > a {
    color:rgb(255, 68, 0);
    opacity: 0.7;
    font-weight: bold; 
}

.header-wrapper > ul > h1 {
    color:white;
    opacity: 0.7;
}


.home-cities-add-city {
    display:flex;
    align-items: center;
    list-style: none;
    gap:20px;
}

.see-visited-to-visit {
    display:flex;
    align-items: center;
    list-style: none;
    gap:20px;
    margin-right: 20px;
}


a {
    text-decoration: none;
    color:orange;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
}



.city-list-element {
    padding:20px;
    font-size: 25px;
    
}



table,th,td {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    font-size: 25px;
    padding:10px;
    text-align: center;
    box-shadow: 5px 3px;

}

th {
    width: 150px;
}


footer {
    text-align: center;
    margin-top:250px;
    font-size:14px;
    font-family: 'Courier New', Courier, monospace;
}



.show-one,.edit-title,.add-city-title {
    text-align: center;
    text-shadow: 2px 2px black;
    color:white;
    opacity: 0.7;
    font-size: 40px;
    margin-bottom: 50px;
}



.form-element {
    
    font-size: 100px;
}

.form-edit,.form-new {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    font-size:25px;
    opacity:0.8;
    
    
}

input[type=text] {
    font-size: 20px;
    background-color: rgb(300, 176, 0);
    transition: width 0.4s ease-in-out;
    opacity: 0.8;
}



#visited,#country {
    font-size: 20px;
    position: relative;
    background-color: rgb(300, 176, 0);
    opacity: 0.8;
}




.save-edit-btn {
    text-decoration: underline;
    font-size: 15px;
    padding:5px;
    background-color: rgb(255, 166, 0);
    font-weight: bold;
    border-radius: 30%;
    width:70px;
    opacity:0.8;
    
    
}

.save-edit-btn:hover {
    cursor: pointer;
}




