body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(to right,brown,rgba(255, 200, 0, 0.78));
}

.homepage-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height:400px;
    color:white;
    opacity:0.8;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    font-size: larger;
    background-image: linear-gradient(to right,rgb(165, 42, 42),rgba(255, 200, 0, 0.78));
    border-style: groove;
    border-width: 8px;
    margin-bottom: 30px;
    
}

.header-wrapper > ul > h1 {
    color:white;
    opacity: 0.7;
}


.home-cities-add-city {
    display:flex;
    align-items: center;
    list-style: none;
    gap:20px;
}

.see-visited-to-visit {
    display:flex;
    align-items: center;
    list-style: none;
    gap:20px;
    margin-right: 20px;
}


a {
    text-decoration: none;
    color:orange;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
}



.city-list-element {
    padding:20px;
    font-size: 25px;
    
}



table,th,td {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    font-size: 25px;
    padding:10px;
    text-align: center;
    box-shadow: 5px 3px;
}



footer {
    text-align: center;
    padding-top:20px;
    font-size:14px;
    font-family: 'Courier New', Courier, monospace;
}



.show-one {
    text-align: center;
    text-shadow: 2px 2px black;
    color:white;
    opacity: 0.7;
    font-size: 30px;
}

.fa.fa-times.fa-2x {
    opacity: 0.8;
}
